@import 'open-props/style';
@import 'open-props/normalize';
@import 'open-props/buttons';

@import './view-transitions.css';
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
app-root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

.fab {
  position: absolute;
  border: none;
  bottom: 0;
  right: 0;
  background-color: #0072bc;
  color: white;
  font-size: 1.5em;
  z-index: 3;
  border-radius: 50%;
  margin: 16px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > *:not(router-outlet) {
  height: 100%;
  display: block;
  padding: 1em;
  padding-inline-end: 0;
}
aside {
  border-right: solid 0.55px black;

  padding: 1em;

  li {
    border: 0 !important;
    a {
      width: 100%;
      text-decoration: none;

      &::after {
        content: '';
        border-radius: 5px;
        overflow: hidden;
        inset: 0px;
        position: absolute;
        z-index: -1;
        opacity: var(--opacity, 0);
        background: var(--background);
        transition:
          background-color 200ms linear,
          opacity 200ms linear;
      }


      &.selected {
        --opacity: 0.3;
        --background: var(--gray-7);
        &::after {
          view-transition-name: indicator;
        }
      }
    }
  }
}

ul {
  list-style: none;
  margin-inline: 0;
  padding-inline-start: 0;
  li {
    background-color: var(--surface-1);
    padding-inline: 1em;
    padding-block: 1em;
    width: 100%;
    max-inline-size: unset;
    display: flex;
    z-index: 0;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 0.55px black;
  }
}
