::view-transition-group(*) {
  mix-blend-mode: normal;
  overflow: clip;
}

/* Fab Button should stay still */
.fab {
  view-transition-name: fab-button;
}
::view-transition-group(fab-button) {
  animation: none;
}

/* Page Title should just handle things */
.page-title {
  view-transition-name: page-title;
  contain: layout;
  width: fit-content;
}
::view-transition-new(page-title),
::view-transition-old(page-title) {
  height: 100%;
  object-fit: none;
  overflow: clip;
}
