/* ::view-transition-group(*) { */
/*   animation-timing-function: ease-out; */
/*   animation-duration: 300ms; */
/*   mix-blend-mode: normal; */
/*   overflow: hidden; */
/* } */

.router-wrapper {
  view-transition-name: main-outlet;
}

/* ::view-transition-new(main-outlet){ */
/*   animation:var(--animation-slide-in-up); */
/*   animation-delay: 500ms; */
/* } */
/* ::view-transition-new(main-outlet):only-child{ */
/*   animation:var(--animation-slide-in-up); */
/* } */
::view-transition-old(main-outlet) {
  animation: var(--animation-slide-out-down), var(--animation-fade-out);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}
